@charset "UTF-8";
/* CSS Document */

body, html{
  height: 100%;
  margin: 0;
}

*{
	box-sizing: border-box;
}

hr{
	border: 1px solid #f1f1f1;
	margin-bottom: 25px;
}

/* Clear floats */
.clearfix::after{
	content: "";
	clear: both;
	display: table;
}

#the_persistence_of_memory{
  height: 530px;
  background-color: #ddebdf;
  transition: 0.6s;
}

@media screen and (max-width: 977px){
  #the_persistence_of_memory{
    height: 750px;
    transition: 0.6s;
  }
}

#famouspaintings_title{
  color: black;
  margin-top: -500px;
  margin-bottom: 50px;
  font-family: 'Meddon', cursive;
  font-size: 60px;
  text-align: center;
}

@media screen and (max-width: 977px){
  #famouspaintings_title{
    margin-top: -700px;
    transition: 0.6s;
  }
}

.sec1_row{
	padding: 0px 20px;
}

.sec1_column{
	float: left;
	padding: 0px 100px;
  margin-top: -15px;
}

@media screen and (max-width: 1258px){
  .sec1_column{
    padding: 0px 60px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1202px){
  .sec1_column{
    padding: 0px 30px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 977px){
  .sec1_column{
    padding: 0px 120px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 900px){
  .sec1_column{
    padding: 0px 80px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 800px){
  .sec1_column{
    padding: 0px 60px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 700px){
  .sec1_column{
    padding: 0px 30px;
    transition: 0.6s;
  }
}

#the_persistence_of_memory_image{
  padding: 0px;
  transition: 0.6s;
}

@media screen and (max-width: 1202px){
  #the_persistence_of_memory_image{
    padding: 0px 30px;
    transition: 0.6s;
  }
}

.sec1_left{
  width: 50%;
  transition: 0.6s;
}

@media screen and (max-width: 977px){
  .sec1_left{
    width: 100%;
    transition: 0.6s;
  }
}

.sec1_right{
  width: 50%;
}

@media screen and (max-width: 977px){
  .sec1_right{
    width: 100%;
    padding-top: 0px;
    transition: 0.6s;
  }
}

#sec1_block_design_bkg{
  background-color: white;
  top: 0px;
  margin-left: 50%;
  padding: 10px;
  height: 550px;
  transition: 0.6s;
}

@media screen and (max-width: 977px){
  #sec1_block_design_bkg{
    height: 750px;
    transition: 0.6s;
  }
}

#sec1_block_design_title_left{
  position: absolute;
  color: #59785d;
  font-size: 25px;
  font-family: 'Oswald', sans-serif;
  margin-top: 160px;
  left: -3%;
  transition: 0.6s;
  -ms-transform: rotate(-90deg); /* IE 9 */
  transform: rotate(-90deg);
}

@media screen and (max-width: 1310px){
  #sec1_block_design_title_left{
    margin-top: 130px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1258px){
  #sec1_block_design_title_left{
    margin-top: 150px;
    left: -6%;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1160px){
  #sec1_block_design_title_left{
    margin-top: 135px;
    left: -7%;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1084px){
  #sec1_block_design_title_left{
    font-size: 22px;
    margin-top: 120px;
    left: -5%;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1046px){
  #sec1_block_design_title_left{
    margin-top: 115px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 977px){
  #sec1_block_design_title_left{
    font-size: 30px;
    margin-top: 190px;
    left: -3%;
    transition: 0.6s;
  }
}

@media screen and (max-width: 910px){
  #sec1_block_design_title_left{
    margin-top: 175px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 900px){
  #sec1_block_design_title_left{
    margin-top: 200px;
    left: -6%;
    transition: 0.6s;
  }
}

@media screen and (max-width: 855px){
  #sec1_block_design_title_left{
    margin-top: 185px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 825px){
  #sec1_block_design_title_left{
    margin-top: 180px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 800px){
  #sec1_block_design_title_left{
    left: -9.3%;
    transition: 0.6s;
  }
}

@media screen and (max-width: 768px){
  #sec1_block_design_title_left{
    margin-top: 170px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 732px){
  #sec1_block_design_title_left{
    margin-top: 160px;
    left: -10%;
    transition: 0.6s;
  }
}

@media screen and (max-width: 715px){
  #sec1_block_design_title_left{
    margin-top: 150px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 700px){
  #sec1_block_design_title_left{
    margin-top: 165px;
    left: -14.7%;
    transition: 0.6s;
  }
}

@media screen and (max-width: 675px){
  #sec1_block_design_title_left{
    font-size: 25px;
    margin-top: 155px;
    left: -11%;
    transition: 0.6s;
  }
}

@media screen and (max-width: 630px){
  #sec1_block_design_title_left{
    margin-top: 150px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 615px){
  #sec1_block_design_title_left{
    margin-top: 145px;
    left: -11.5%;
    transition: 0.6s;
  }
}

@media screen and (max-width: 590px){
  #sec1_block_design_title_left{
    left: -12%;
    transition: 0.6s;
  }
}

@media screen and (max-width: 577px){
  #sec1_block_design_title_left{
    margin-top: 127px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 565px){
  #sec1_block_design_title_left{
    margin-top: 122px;
    left: -12.5%;
    transition: 0.6s;
  }
}

@media screen and (max-width: 550px){
  #sec1_block_design_title_left{
    margin-top: 118px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 540px){
  #sec1_block_design_title_left{
    margin-top: 114px;
    left: -13%;
    transition: 0.6s;
  }
}

@media screen and (max-width: 524px){
  #sec1_block_design_title_left{
    margin-top: 108px;
    left: -13.5%;
    transition: 0.6s;
  }
}

@media screen and (max-width: 510px){
  #sec1_block_design_title_left{
    font-size: 22px;
    margin-top: 108px;
    left: -10.5%;
    transition: 0.6s;
  }
}

@media screen and (max-width: 500px){
  #sec1_block_design_title_left{
    margin-top: 102px;
    transition: 0.6s;
  }
}

#sec1_block_design_bkg_image{
  background-color: #59785d;
  margin-top: -70%;
  margin-left: 4%;
  padding: 10px;
  height: 370px;
  width: 100%;
  transition: 0.6s;
}

@media screen and (max-width: 1415px){
  #sec1_block_design_bkg_image{
    height: 360px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1385px){
  #sec1_block_design_bkg_image{
    height: 350px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1350px){
  #sec1_block_design_bkg_image{
    height: 340px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1310px){
  #sec1_block_design_bkg_image{
    height: 325px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1285px){
  #sec1_block_design_bkg_image{
    height: 315px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1258px){
  #sec1_block_design_bkg_image{
    height: 360px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1202px){
  #sec1_block_design_bkg_image{
    height: 340px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1160px){
  #sec1_block_design_bkg_image{
    height: 325px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1125px){
  #sec1_block_design_bkg_image{
    height: 315px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1084px){
  #sec1_block_design_bkg_image{
    height: 300px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1046px){
  #sec1_block_design_bkg_image{
    height: 285px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1010px){
  #sec1_block_design_bkg_image{
    height: 270px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 977px){
  #sec1_block_design_bkg_image{
    height: 470px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 955px){
  #sec1_block_design_bkg_image{
    height: 460px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 940px){
  #sec1_block_design_bkg_image{
    height: 450px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 930px){
  #sec1_block_design_bkg_image{
    height: 440px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 920px){
  #sec1_block_design_bkg_image{
    height: 430px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 910px){
  #sec1_block_design_bkg_image{
    height: 420px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 900px){
  #sec1_block_design_bkg_image{
    height: 475px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 890px){
  #sec1_block_design_bkg_image{
    height: 465px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 880px){
  #sec1_block_design_bkg_image{
    height: 455px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 870px){
  #sec1_block_design_bkg_image{
    height: 445px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 855px){
  #sec1_block_design_bkg_image{
    height: 440px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 840px){
  #sec1_block_design_bkg_image{
    height: 430px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 825px){
  #sec1_block_design_bkg_image{
    height: 420px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 813px){
  #sec1_block_design_bkg_image{
    height: 413px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 800px){
  #sec1_block_design_bkg_image{
    height: 430px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 790px){
  #sec1_block_design_bkg_image{
    height: 425px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 780px){
  #sec1_block_design_bkg_image{
    height: 415px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 768px){
  #sec1_block_design_bkg_image{
    height: 405px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 750px){
  #sec1_block_design_bkg_image{
    height: 390px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 732px){
  #sec1_block_design_bkg_image{
    height: 382px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 720px){
  #sec1_block_design_bkg_image{
    height: 375px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 715px){
  #sec1_block_design_bkg_image{
    height: 370px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 705px){
  #sec1_block_design_bkg_image{
    height: 363px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 700px){
  #sec1_block_design_bkg_image{
    height: 400px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 686px){
  #sec1_block_design_bkg_image{
    height: 395px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 675px){
  #sec1_block_design_bkg_image{
    height: 380px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 653px){
  #sec1_block_design_bkg_image{
    height: 370px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 640px){
  #sec1_block_design_bkg_image{
    height: 360px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 631px){
  #sec1_block_design_bkg_image{
    height: 350px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 618px){
  #sec1_block_design_bkg_image{
    height: 340px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 608px){
  #sec1_block_design_bkg_image{
    height: 335px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 600px){
  #sec1_block_design_bkg_image{
    height: 330px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 590px){
  #sec1_block_design_bkg_image{
    height: 320px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 577px){
  #sec1_block_design_bkg_image{
    height: 310px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 565px){
  #sec1_block_design_bkg_image{
    height: 300px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 550px){
  #sec1_block_design_bkg_image{
    height: 290px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 540px){
  #sec1_block_design_bkg_image{
    height: 283px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 524px){
  #sec1_block_design_bkg_image{
    height: 275px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 510px){
  #sec1_block_design_bkg_image{
    height: 265px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 500px){
  #sec1_block_design_bkg_image{
    height: 255px;
    transition: 0.6s;
  }
}

#sec1_block_design_text_right{
  margin-top: 100px;
  text-align: justify;
  transition: 0.6s;
}

@media screen and (max-width: 1365px){
  #sec1_block_design_text_right{
    margin-top: 85px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1310px){
  #sec1_block_design_text_right{
    margin-top: 70px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1258px){
  #sec1_block_design_text_right{
    margin-top: 85px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1125px){
  #sec1_block_design_text_right{
    margin-top: 70px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1084px){
  #sec1_block_design_text_right{
    margin-top: 50px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1046px){
  #sec1_block_design_text_right{
    margin-top: 40px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1010px){
  #sec1_block_design_text_right{
    margin-top: 30px;
    transition: 0.6s;
  }
}

#swans_reflecting_elephants{
  height: 600px;
}

@media screen and (max-width: 977px){
  #swans_reflecting_elephants{
    height: 700px;
  }
}

.sec2_column{
	float: left;
	padding: 30px 100px;
  margin-top: -205px;
}

@media screen and (max-width: 1258px){
  .sec2_column{
    padding: 0px 60px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1202px){
  .sec2_column{
    padding: 0px 30px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 977px){
  .sec2_column{
    padding: 0px 150px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 900px){
  .sec2_column{
    padding: 0px 100px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 700px){
  .sec2_column{
    padding: 0px 60px;
    transition: 0.6s;
  }
}

.sec2_row{
	padding: 0px 20px;
}

.sec2_left{
  width: 50%;
}

@media screen and (max-width: 977px){
  .sec2_left{
    width: 100%;
    transition: 0.6s;
  }
}

.sec2_right{
  width: 50%;
}

@media screen and (max-width: 977px){
  .sec2_right{
    width: 100%;
    transition: 0.6s;
  }
}

#sec2_block_design_bkg{
  background-color: #ddebdf;
  top: 0px;
  margin-right: 50%;
  padding: 10px;
  height: 255px;
  transition: 0.6s;
}

#sec2_block_design_title_left{
    display: none;
}

@media screen and (max-width: 977px){
  #sec2_block_design_title_left{
    position: absolute;
    color: #59785d;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    margin-top: 200px;
    left: -4%;
    transition: 0.6s;
    -ms-transform: rotate(-90deg); /* IE 9 */
    transform: rotate(-90deg);
    transition: 0.6s;
    display: block;
  }
}
@media screen and (max-width: 910px){
  #sec2_block_design_title_left{
    margin-top: 185px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 900px){
  #sec2_block_design_title_left{
    margin-top: 210px;
    left: -7.8%;
    transition: 0.6s;
  }
}

@media screen and (max-width: 855px){
  #sec2_block_design_title_left{
    margin-top: 200px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 825px){
  #sec2_block_design_title_left{
    margin-top: 185px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 800px){
  #sec2_block_design_title_left{
    left: -8.8%;
    transition: 0.6s;
  }
}

@media screen and (max-width: 768px){
  #sec2_block_design_title_left{
    margin-top: 170px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 732px){
  #sec2_block_design_title_left{
    margin-top: 160px;
    left: -9.5%;
    transition: 0.6s;
  }
}

@media screen and (max-width: 715px){
  #sec2_block_design_title_left{
    margin-top: 150px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 700px){
  #sec2_block_design_title_left{
    margin-top: 165px;
    left: -15.6%;
    transition: 0.6s;
  }
}

@media screen and (max-width: 675px){
  #sec2_block_design_title_left{
    font-size: 25px;
    margin-top: 170px;
    left: -11.7%;
    transition: 0.6s;
  }
}

@media screen and (max-width: 630px){
  #sec2_block_design_title_left{
    margin-top: 155px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 615px){
  #sec2_block_design_title_left{
    margin-top: 150px;
    left: -12.4%;
    transition: 0.6s;
  }
}

@media screen and (max-width: 590px){
  #sec2_block_design_title_left{
    left: -13%;
    transition: 0.6s;
  }
}

@media screen and (max-width: 580px){
  #sec2_block_design_title_left{
    margin-top: 135px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 565px){
  #sec2_block_design_title_left{
    margin-top: 130px;
    left: -13.5%;
    transition: 0.6s;
  }
}

@media screen and (max-width: 540px){
  #sec2_block_design_title_left{
    margin-top: 130px;
    left: -14.5%;
    transition: 0.6s;
  }
}

@media screen and (max-width: 524px){
  #sec2_block_design_title_left{
    margin-top: 120px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 510px){
  #sec2_block_design_title_left{
    font-size: 22px;
    margin-top: 115px;
    left: -11%;
    transition: 0.6s;
  }
}

@media screen and (max-width: 500px){
  #sec2_block_design_title_left{
    left: -11.5%;
    transition: 0.6s;
  }
}

#swans_reflecting_elephants_image_left{
  margin-top: 0%;
  transition: 0.6s;
}

@media screen and (max-width: 977px){
  #swans_reflecting_elephants_image_left{
    margin-top: 30px;
    transition: 0.6s;
  }
}

#sec2_block_design_bkg_image_left{
  display: none;
}

@media screen and (max-width: 977px){
  #sec2_block_design_bkg_image_left{
    display: block;
    background-color: #59785d;
    margin-top: -60%;
    margin-left: 25px;
    padding: 10px;
    height: 405px;
    width: 100%;
    transition: 0.6s;
  }
}

@media screen and (max-width: 955px){
  #sec2_block_design_bkg_image_left{
    height: 395px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 940px){
  #sec2_block_design_bkg_image_left{
    height: 385px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 930px){
  #sec2_block_design_bkg_image_left{
    height: 380px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 920px){
  #sec2_block_design_bkg_image_left{
    height: 375px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 910px){
  #sec2_block_design_bkg_image_left{
    height: 370px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 900px){
  #sec2_block_design_bkg_image_left{
    height: 425px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 890px){
  #sec2_block_design_bkg_image_left{
    height: 415px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 880px){
  #sec2_block_design_bkg_image_left{
    height: 410px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 870px){
  #sec2_block_design_bkg_image_left{
    height: 405px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 855px){
  #sec2_block_design_bkg_image_left{
    height: 400px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 840px){
  #sec2_block_design_bkg_image_left{
    height: 390px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 825px){
  #sec2_block_design_bkg_image_left{
    height: 380px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 813px){
  #sec2_block_design_bkg_image_left{
    height: 370px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 800px){
  #sec2_block_design_bkg_image_left{
    height: 360px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 790px){
  #sec2_block_design_bkg_image_left{
    height: 355px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 780px){
  #sec2_block_design_bkg_image_left{
    height: 350px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 768px){
  #sec2_block_design_bkg_image_left{
    height: 345px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 750px){
  #sec2_block_design_bkg_image_left{
    height: 335px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 732px){
  #sec2_block_design_bkg_image_left{
    height: 325px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 720px){
  #sec2_block_design_bkg_image_left{
    height: 312px;
    width: 99%;
    transition: 0.6s;
  }
}

@media screen and (max-width: 715px){
  #sec2_block_design_bkg_image_left{
    height: 308px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 705px){
  #sec2_block_design_bkg_image_left{
    height: 302px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 700px){
  #sec2_block_design_bkg_image_left{
    height: 345px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 686px){
  #sec2_block_design_bkg_image_left{
    height: 340px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 675px){
  #sec2_block_design_bkg_image_left{
    height: 335px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 653px){
  #sec2_block_design_bkg_image_left{
    height: 320px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 640px){
  #sec2_block_design_bkg_image_left{
    height: 310px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 631px){
  #sec2_block_design_bkg_image_left{
    height: 305px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 618px){
  #sec2_block_design_bkg_image_left{
    height: 297px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 608px){
  #sec2_block_design_bkg_image_left{
    height: 292px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 600px){
  #sec2_block_design_bkg_image_left{
    height: 285px;
    width: 98.5%;
    transition: 0.6s;
  }
}

@media screen and (max-width: 590px){
  #sec2_block_design_bkg_image_left{
    height: 275px;
    width: 98%;
    transition: 0.6s;
  }
}

@media screen and (max-width: 577px){
  #sec2_block_design_bkg_image_left{
    height: 265px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 565px){
  #sec2_block_design_bkg_image_left{
    height: 255px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 550px){
  #sec2_block_design_bkg_image_left{
    height: 250px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 540px){
  #sec2_block_design_bkg_image_left{
    height: 245px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 524px){
  #sec2_block_design_bkg_image_left{
    height: 235px;
    width: 97%;
    transition: 0.6s;
  }
}

@media screen and (max-width: 510px){
  #sec2_block_design_bkg_image_left{
    height: 227px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 500px){
  #sec2_block_design_bkg_image_left{
    height: 220px;
    transition: 0.6s;
  }
}

#sec2_block_design_text_left{
  margin-top:100px;
  text-align: justify;
}

@media screen and (max-width: 977px){
  #sec2_block_design_text_left{
    display: none;
  }
}

@media screen and (max-width: 1258px){
  #swans_reflecting_elephants_image_right{
    margin-right: 7%;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1120px){
  #swans_reflecting_elephants_image_right{
    margin-top: 30px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1010px){
  #swans_reflecting_elephants_image_right{
    margin-top: 40px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 977px){
  #swans_reflecting_elephants_image_right{
    margin-right: 0%;
    transition: 0.6s;
  }
}

#sec2_block_design_bkg_image_right{
  background-color: #59785d;
  margin-top: -60%;
  margin-left: 4%;
  padding: 10px;
  height: 320px;
  width: 100%;
  transition: 0.6s;
}

@media screen and (max-width: 1405px){
  #sec2_block_design_bkg_image_right{
    height: 310px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1385px){
  #sec2_block_design_bkg_image_right{
    height: 305px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1350px){
  #sec2_block_design_bkg_image_right{
    height: 295px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1310px){
  #sec2_block_design_bkg_image_right{
    height: 285px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1285px){
  #sec2_block_design_bkg_image_right{
    height: 275px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1258px){
  #sec2_block_design_bkg_image_right{
    height: 295px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1230px){
  #sec2_block_design_bkg_image_right{
    height: 285px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1202px){
  #sec2_block_design_bkg_image_right{
    height: 315px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1160px){
  #sec2_block_design_bkg_image_right{
    height: 300px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1125px){
  #sec2_block_design_bkg_image_right{
    height: 290px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1084px){
  #sec2_block_design_bkg_image_right{
    height: 280px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1046px){
  #sec2_block_design_bkg_image_right{
    height: 270px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1010px){
  #sec2_block_design_bkg_image_right{
    height: 255px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 977px){
  #sec2_block_design_bkg_image_right{
    display: none;
    transition: 0.6s;
  }
}

#sec2_block_design_title_right{
  position: absolute;
  color: #59785d;
  font-size: 25px;
  font-family: 'Oswald', sans-serif;
  margin-top: 140px;
  right: -5%;
  transition: 0.6s;
  -ms-transform: rotate(90deg); /* IE 9 */
  transform: rotate(90deg);
  display: block;
}

@media screen and (max-width: 1405px){
  #sec2_block_design_title_right{
    margin-top: 135px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1258px){
  #sec2_block_design_title_right{
    margin-top: 122px;
    right: -5.3%;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1202px){
  #sec2_block_design_title_right{
    margin-top: 132px;
    right: -7.8%;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1160px){
  #sec2_block_design_title_right{
    margin-top: 125px;
    right: -8.5%;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1120px){
  #sec2_block_design_title_right{
    margin-top: 145px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1084px){
  #sec2_block_design_title_right{
    font-size: 22px;
    right: -7%;
    margin-top: 150px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1010px){
  #sec2_block_design_title_right{
    right: -7.5%;
    margin-top: 145px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 977px){
  #sec2_block_design_title_right{
    display: none;
  }
}

#sec2_block_design_text_right{
  display: none;
}

@media screen and (max-width: 977px){
  #sec2_block_design_text_right{
    margin-top: 220px;
    text-align: justify;
    display: block;
  }
}

#soft-construction-with-beans{
  background-color: #ddebdf;
  height: 780px;
  padding-top: 150px;
}

@media screen and (max-width: 1200px){
  #soft-construction-with-beans{
    height: 670px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1100px){
  #soft-construction-with-beans{
    height: 600px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 800px){
  #soft-construction-with-beans{
    height: 550px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 520px){
  #soft-construction-with-beans{
    height: 525px;
    transition: 0.6s;
  }
}

#sec3_block_design_bkg{
  background-color: white;
  margin-top: -160px;
  margin-left: 58%;
  padding: 10px;
  height: 340px;
  transition: 0.6s;
}

@media screen and (max-width: 740px){
  #sec3_block_design_bkg{
    height: 280px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 600px){
  #sec3_block_design_bkg{
    height: 240px;
    transition: 0.6s;
  }
}

.sec3_column{
  flex: 50%;
  padding: 10px;
  height: 300px;
  margin-top: -220px;
}

.sec3_row{
  display: flex;
}

#sec3_block_design_title{
  position: absolute;
  color: #59785d;
  font-size: 45px;
  font-family: 'Oswald', sans-serif;
  margin-top: -280px;
  width: 100%;
  text-align: center;
  transition: 0.6s;
}

@media screen and (max-width: 740px){
  #sec3_block_design_title{
    font-size: 35px;
    margin-top: -190px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 600px){
  #sec3_block_design_title{
    font-size: 30px;
    margin-top: -160px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 520px){
  #sec3_block_design_title{
    font-size: 22px;
    width: 50%;
    text-align: left;
    line-height: 125%;
    margin-left: 52%;
    transition: 0.6s;
  }
}

#soft-construction-with-beans_image{
  margin-left: 150px;
  transition: 0.6s;
}

@media screen and (max-width: 1000px){
  #soft-construction-with-beans_image{
    margin-left: 100px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 900px){
  #soft-construction-with-beans_image{
    margin-left: 50px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 740px){
  #soft-construction-with-beans_image{
    margin-top: 80px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 702px){
  #soft-construction-with-beans_image{
    margin-top: 100px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 653px){
  #soft-construction-with-beans_image{
    margin-top: 120px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 615px){
  #soft-construction-with-beans_image{
    margin-top: 140px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 582px){
  #soft-construction-with-beans_image{
    margin-left: 20px;
    margin-top: 125px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 520px){
  #soft-construction-with-beans_image{
    margin-top: 80px;
    transition: 0.6s;
  }
}

#sec3_block_design_bkg_image{
  background-color: #59785d;
  margin-top: -98%;
  margin-left: 4%;
  padding: 10px;
  height: 560px;
  width: 99%;
  transition: 0.6s;
}

@media screen and (max-width: 1415px){
  #sec3_block_design_bkg_image{
    height: 535px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1385px){
  #sec3_block_design_bkg_image{
    height: 525px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1350px){
  #sec3_block_design_bkg_image{
    height: 510px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1310px){
  #sec3_block_design_bkg_image{
    height: 490px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1285px){
  #sec3_block_design_bkg_image{
    height: 477px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1258px){
  #sec3_block_design_bkg_image{
    height: 465px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1220px){
  #sec3_block_design_bkg_image{
    height: 440px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1202px){
  #sec3_block_design_bkg_image{
    height: 435px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1172px){
  #sec3_block_design_bkg_image{
    height: 425px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1160px){
  #sec3_block_design_bkg_image{
    height: 410px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1135px){
  #sec3_block_design_bkg_image{
    height: 403px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1125px){
  #sec3_block_design_bkg_image{
    height: 397px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1105px){
  #sec3_block_design_bkg_image{
    height: 388px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1090px){
  #sec3_block_design_bkg_image{
    height: 380px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1084px){
  #sec3_block_design_bkg_image{
    height: 375px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1065px){
  #sec3_block_design_bkg_image{
    height: 365px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1046px){
  #sec3_block_design_bkg_image{
    height: 355px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1025px){
  #sec3_block_design_bkg_image{
    height: 345px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1010px){
  #sec3_block_design_bkg_image{
    height: 340px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1000px){
  #sec3_block_design_bkg_image{
    height: 385px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 977px){
  #sec3_block_design_bkg_image{
    height: 375px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 955px){
  #sec3_block_design_bkg_image{
    height: 362px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 940px){
  #sec3_block_design_bkg_image{
    height: 355px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 930px){
  #sec3_block_design_bkg_image{
    height: 348px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 920px){
  #sec3_block_design_bkg_image{
    height: 345px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 910px){
  #sec3_block_design_bkg_image{
    height: 340px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 900px){
  #sec3_block_design_bkg_image{
    height: 385px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 890px){
  #sec3_block_design_bkg_image{
    height: 380px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 880px){
  #sec3_block_design_bkg_image{
    height: 375px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 870px){
  #sec3_block_design_bkg_image{
    height: 370px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 855px){
  #sec3_block_design_bkg_image{
    height: 363px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 840px){
  #sec3_block_design_bkg_image{
    height: 355px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 825px){
  #sec3_block_design_bkg_image{
    height: 347px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 813px){
  #sec3_block_design_bkg_image{
    height: 341px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 800px){
  #sec3_block_design_bkg_image{
    height: 335px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 790px){
  #sec3_block_design_bkg_image{
    height: 328px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 780px){
  #sec3_block_design_bkg_image{
    height: 322px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 768px){
  #sec3_block_design_bkg_image{
    height: 318px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 740px){
  #sec3_block_design_bkg_image{
    height: 310px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 732px){
  #sec3_block_design_bkg_image{
    height: 300px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 720px){
  #sec3_block_design_bkg_image{
    height: 295px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 715px){
  #sec3_block_design_bkg_image{
    height: 290px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 705px){
  #sec3_block_design_bkg_image{
    height: 287px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 700px){
  #sec3_block_design_bkg_image{
    height: 283px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 686px){
  #sec3_block_design_bkg_image{
    height: 275px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 675px){
  #sec3_block_design_bkg_image{
    height: 270px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 653px){
  #sec3_block_design_bkg_image{
    height: 260px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 640px){
  #sec3_block_design_bkg_image{
    height: 253px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 631px){
  #sec3_block_design_bkg_image{
    height: 248px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 618px){
  #sec3_block_design_bkg_image{
    height: 242px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 608px){
  #sec3_block_design_bkg_image{
    height: 237px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 600px){
  #sec3_block_design_bkg_image{
    height: 232px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 590px){
  #sec3_block_design_bkg_image{
    height: 228px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 580px){
  #sec3_block_design_bkg_image{
    height: 255px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 577px){
  #sec3_block_design_bkg_image{
    height: 248px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 565px){
  #sec3_block_design_bkg_image{
    height: 245px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 550px){
  #sec3_block_design_bkg_image{
    height: 240px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 524px){
  #sec3_block_design_bkg_image{
    height: 225px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 510px){
  #sec3_block_design_bkg_image{
    height: 217px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 500px){
  #sec3_block_design_bkg_image{
    height: 213px;
    transition: 0.6s;
  }
}

#sec3_block_design_text{
  position: relative;
  font-size: 15px;
  text-align: justify;
  width: 80%;
  padding-left: 20px;
  margin-top: 135px;
  transition: 0.6s;
}

@media screen and (max-width: 1137px){
  #sec3_block_design_text{
    margin-top: 110px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1032px){
  #sec3_block_design_text{
    margin-top: 75px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 852px){
  #sec3_block_design_text{
    width: 90%;
    padding-left: 10px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 790px){
  #sec3_block_design_text{
    margin-top: 40px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 755px){
  #sec3_block_design_text{
    margin-top: 30px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 740px){
  #sec3_block_design_text{
    margin-top: 100px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 702px){
  #sec3_block_design_text{
    margin-top: 110px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 590px){
  #sec3_block_design_text{
    width: 95%;
    padding-left: 0px;
    margin-top: 110px;
    transition: 0.6s;
  }
}

#metamorphosis_of_narcissus{
  background-color: white;
  padding-top: 40px;
  height: 670px;
}

@media screen and (max-width: 1200px){
  #metamorphosis_of_narcissus{
    height: 600px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1100px){
  #metamorphosis_of_narcissus{
    height: 550px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 600px){
  #metamorphosis_of_narcissus{
    height: 600px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 520px){
  #metamorphosis_of_narcissus{
    height: 570px;
    transition: 0.6s;
  }
}

.sec4_column{
  flex: 50%;
  padding: 10px;
  height: 300px;
  margin-top: 70px;
}

.sec4_row{
  display: flex;
}

#metamorphosis_of_narcissus_image{
  margin-right: 130px;
  margin-top: 50px;
}

@media screen and (max-width: 850px){
  #metamorphosis_of_narcissus_image{
    margin-right: 100px;
    margin-top: 20px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 740px){
  #metamorphosis_of_narcissus_image{
    margin-right: 78px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 600px){
  #metamorphosis_of_narcissus_image{
    margin-right: 62px;
    margin-top: 80px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 530px){
  #metamorphosis_of_narcissus_image{
    margin-right: 10px;
    margin-top: 76px;
    transition: 0.6s;
  }
}

#sec4_block_design_text{
  font-size: 15px;
  width: 90%;
  background-color: #ddebdf;
  padding: 20px 40px 20px 30px;
  margin-top: -20px;
  margin-left: 17%;
  transition: 0.6s;
}

@media screen and (max-width: 1085px){
  #sec4_block_design_text{
    margin-left: 20%;
    padding: 10px 45px 10px 20px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 925px){
  #sec4_block_design_text{
    padding: 10px 37px 10px 20px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 850px){
  #sec4_block_design_text{
    width: 95%;
    padding: 10px 50px 10px 20px;
    margin-top: -50px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 740px){
  #sec4_block_design_text{
    padding: 10px 43px 10px 20px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 600px){
  #sec4_block_design_text{
    padding: 10px 32px 10px 20px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 530px){
  #sec4_block_design_text{
    width: 112%;
    padding: 10px 25px 10px 20px;
    margin-left: 3%;
    transition: 0.6s;
  }
}

#sec4_block_design_title{
  font-size: 45px;
  font-family: 'Oswald', sans-serif;
  color: #59785d;
  line-height: 120%;
  text-align: center;
  transition: 0.6s;
}

@media screen and (max-width: 1407px){
  #sec4_block_design_title{
    text-align: left;
    transition: 0.6s;
  }
}

@media screen and (max-width: 740px){
  #sec4_block_design_title{
    font-size: 35px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 600px){
  #sec4_block_design_title{
    font-size: 30px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 520px){
  #sec4_block_design_title{
    font-size: 22px;
    transition: 0.6s;
  }
}

#sec4_block_design_bkg_image{
  background-color: #59785d;
  margin-top: -62%;
  margin-left: 4%;
  padding: 10px;
  height: 375px;
  width: 99%;
  transition: 0.6s;
}

@media screen and (max-width: 1415px){
  #sec4_block_design_bkg_image{
    height: 365px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1385px){
  #sec4_block_design_bkg_image{
    height: 353px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1350px){
  #sec4_block_design_bkg_image{
    height: 342px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1310px){
  #sec4_block_design_bkg_image{
    height: 340px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1285px){
  #sec4_block_design_bkg_image{
    height: 320px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1258px){
  #sec4_block_design_bkg_image{
    height: 310px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1220px){
  #sec4_block_design_bkg_image{
    height: 300px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1202px){
  #sec4_block_design_bkg_image{
    height: 295px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1172px){
  #sec4_block_design_bkg_image{
    height: 285px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1160px){
  #sec4_block_design_bkg_image{
    height: 280px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1135px){
  #sec4_block_design_bkg_image{
    height: 270px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1125px){
  #sec4_block_design_bkg_image{
    height: 267px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1105px){
  #sec4_block_design_bkg_image{
    height: 262px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1090px){
  #sec4_block_design_bkg_image{
    height: 257px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1084px){
  #sec4_block_design_bkg_image{
    height: 252px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1065px){
  #sec4_block_design_bkg_image{
    height: 248px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1046px){
  #sec4_block_design_bkg_image{
    height: 243px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1025px){
  #sec4_block_design_bkg_image{
    height: 235px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1010px){
  #sec4_block_design_bkg_image{
    height: 230px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1000px){
  #sec4_block_design_bkg_image{
    height: 225px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 977px){
  #sec4_block_design_bkg_image{
    height: 220px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 955px){
  #sec4_block_design_bkg_image{
    height: 212px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 940px){
  #sec4_block_design_bkg_image{
    height: 207px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 930px){
  #sec4_block_design_bkg_image{
    height: 202px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 920px){
  #sec4_block_design_bkg_image{
    height: 199px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 910px){
  #sec4_block_design_bkg_image{
    height: 197px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 900px){
  #sec4_block_design_bkg_image{
    height: 194px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 890px){
  #sec4_block_design_bkg_image{
    height: 192px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 880px){
  #sec4_block_design_bkg_image{
    height: 188px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 870px){
  #sec4_block_design_bkg_image{
    height: 185px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 855px){
  #sec4_block_design_bkg_image{
    height: 199px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 840px){
  #sec4_block_design_bkg_image{
    height: 194px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 825px){
  #sec4_block_design_bkg_image{
    height: 190px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 813px){
  #sec4_block_design_bkg_image{
    height: 187px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 800px){
  #sec4_block_design_bkg_image{
    height: 183px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 790px){
  #sec4_block_design_bkg_image{
    height: 180px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 780px){
  #sec4_block_design_bkg_image{
    height: 176px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 768px){
  #sec4_block_design_bkg_image{
    height: 172px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 740px){
  #sec4_block_design_bkg_image{
    height: 178px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 732px){
  #sec4_block_design_bkg_image{
    height: 174px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 720px){
  #sec4_block_design_bkg_image{
    height: 170px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 715px){
  #sec4_block_design_bkg_image{
    height: 168px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 705px){
  #sec4_block_design_bkg_image{
    height: 165px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 700px){
  #sec4_block_design_bkg_image{
    height: 161px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 686px){
  #sec4_block_design_bkg_image{
    height: 158px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 675px){
  #sec4_block_design_bkg_image{
    height: 154px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 653px){
  #sec4_block_design_bkg_image{
    height: 150px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 640px){
  #sec4_block_design_bkg_image{
    height: 146px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 631px){
  #sec4_block_design_bkg_image{
    height: 141px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 618px){
  #sec4_block_design_bkg_image{
    height: 137px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 608px){
  #sec4_block_design_bkg_image{
    height: 132px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 600px){
  #sec4_block_design_bkg_image{
    height: 145px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 590px){
  #sec4_block_design_bkg_image{
    height: 140px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 580px){
  #sec4_block_design_bkg_image{
    height: 137px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 577px){
  #sec4_block_design_bkg_image{
    height: 134px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 565px){
  #sec4_block_design_bkg_image{
    height: 130px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 550px){
  #sec4_block_design_bkg_image{
    height: 128px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 540px){
  #sec4_block_design_bkg_image{
    height: 125px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 530px){
  #sec4_block_design_bkg_image{
    height: 155px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 524px){
  #sec4_block_design_bkg_image{
    height: 150px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 510px){
  #sec4_block_design_bkg_image{
    height: 147px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 500px){
  #sec4_block_design_bkg_image{
    height: 145px;
    transition: 0.6s;
  }
}

.sec5_column{
  float: left;
  width: 33.33%;
  padding: 10px 15px;
  margin: 50px 0px;
  transition: 0.6s;
}

@media screen and (max-width: 1060px){
  .sec5_column{
    width: 50%;
    transition: 0.6s;
  }
}

@media screen and (max-width: 740px){
  .sec5_column{
    width: 100%;
    margin: 20px 0px;
    transition: 0.6s;
  }
}

/* Clear floats after the columns */
.sec5_row:after{
  content: "";
  display: table;
  clear: both;
}

.sec5_row{
  padding: 0px 100px;
}

@media screen and (max-width: 1060px){
  .sec5_row{
    padding: 0px 50px;
    transition: 0.6s;
  }
}

/* @media screen and (max-width: 982px){
  .sec5_row{
    padding: 0px;
    transition: 0.6s;
  }
} */

@media screen and (max-width: 1060px){
  #hide_column{
    display: none;
  }
}

#sec5_block_design_text{
  position: relative;
  background-color: white;
  font-size: 15px;
  top: -10px;
  padding: 10px;
  height: 280px;
  margin: 0px 20px;
  transition: 0.6s;
}

@media screen and (max-width: 1330px){
  #sec5_block_design_text{
    height: 325px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1210px){
  #sec5_block_design_text{
    height: 350px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1178px){
  #sec5_block_design_text{
    height: 370px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1150px){
  #sec5_block_design_text{
    height: 400px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1170px){
  #sec5_block_design_text{
    height: 415px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 1060px){
  #sec5_block_design_text{
    font-size: 15px;
    height: 250px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 879px){
  #sec5_block_design_text{
    height: 270px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 780px){
  #sec5_block_design_text{
    margin: 0px 10px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 738px){
  #sec5_block_design_text{
    height: 285px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 695px){
  #sec5_block_design_text{
    height: 325px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 650px){
  #sec5_block_design_text{
    height: 350px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 600px){
  #sec5_block_design_text{
    height: 200px;
    transition: 0.6s;
  }
}

@media screen and (max-width: 500px){
  #sec5_block_design_text{
    height: 220px;
    transition: 0.6s;
  }
}
