@charset "UTF-8";
/* CSS Document */

    body, html {
        height: 100%;
        margin: 0;
    }

  	* {
    		box-sizing: border-box;
  	}

  	hr {
    		border: 1px solid #f1f1f1;
    		margin-bottom: 25px;
  	}

  	/* Clear floats */
  	.clearfix::after {
    		content: "";
    		clear: both;
    		display: table;
  	}

    #the_persistence_of_memory{
      height: 530px;
      background-color: #ddebdf;
      transition: 0.6s;
    }

    #famouspaintings_title{
      color: black;
      margin-top: -500px;
      font-family: 'Meddon', cursive;
      font-size: 60px;
      text-align: center;
    }

    .sec1_column{
    	float: left;
    	padding: 0px 100px;
      margin-top: -15px;
    }

    .sec1_row{
    	padding: 0px 20px;
    }

    .sec1_left{
      width: 50%;
    }

    .sec1_right{
      width: 50%;
    }

    #sec1_block_design_bkg{
      background-color: white;
      top: 0px;
      margin-left: 50%;
      padding: 10px;
      height: 550px;
      transition: 0.6s;
    }

    #sec1_block_design_text_left{
        position: absolute;
        color: #59785d;
        font-size: 25px;
        font-family: 'Oswald', sans-serif;
        margin-top: 160px;
        left: -3%;
        transition: 0.6s;
        -ms-transform: rotate(-90deg); /* IE 9 */
        transform: rotate(-90deg);
    }

    #sec1_block_design_bkg_image{
      background-color: #59785d;
      margin-top: -70%;
      margin-left: 4%;
      padding: 10px;
      height: 370px;
      width: 100%;
      transition: 0.6s;
    }

    #sec1_block_design_text_right{
      margin-top:100px;
      text-align: justify;
    }

    #swans_reflecting_elephants{
      height: 900px;
    }

    .sec2_column{
    	float: left;
    	padding: 30px 100px;
      margin-top: -205px;
    }

    .sec2_row{
    	padding: 0px 20px;
    }

    .sec2_left{
      width: 50%;
    }

    .sec2_right{
      width: 50%;
    }

    #sec2_block_design_bkg{
      background-color: #ddebdf;
      top: 0px;
      margin-right: 50%;
      padding: 10px;
      height: 255px;
      transition: 0.6s;
    }

    #sec2_block_design_text_left{
      margin-top:100px;
      text-align: justify;
    }

    #sec2_block_design_bkg_image{
      background-color: #59785d;
      margin-top: -60%;
      margin-left: 4%;
      padding: 10px;
      height: 320px;
      width: 100%;
      transition: 0.6s;
    }

    #sec2_block_design_text_right{
        position: absolute;
        color: #59785d;
        font-size: 25px;
        font-family: 'Oswald', sans-serif;
        margin-top: 160px;
        right: -5%;
        transition: 0.6s;
        -ms-transform: rotate(90deg); /* IE 9 */
        transform: rotate(90deg);
    }
